.PO-offScreen {
  position: absolute;
  top: -1000000px;
  left: -1000000px;
}

.PO-wrapper {
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  margin: 30px auto;
  border: 3px solid #dcdcdc;
  box-sizing: border-box;
  position: relative;
  background: #ffffff;
}

.PO-navigationBar {
  background: #dcdcdc;
  color: #595a5a;
  padding: 10px 10px 10px 10px;
  font-size: 12px;
  font-weight: 600;
  display: table;
  width: 100%;
  box-sizing: border-box;
}

.PO-navigationBar a {
  color: #595a5a!important;
  text-decoration: none;
  font-weight: normal;
}

.PO-navigationBar a:hover {
  text-decoration: underline;
}

.PO-settingsBar {
  background: #e4e4e4;
  color: #595a5a;
  padding: 10px;
  font-size: 0.9em;
  display: table;
  width: 100%;
  box-sizing: border-box;
}

.PO-settingsBar > * {
  display: table-cell;
  vertical-align: top;
}

.PO-settingsBar ul.PO-guestButtons {
  text-align: right;
}

.PO-settingsBar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.PO-settingsBar ul > li {
  display: inline;
  position: relative;
}

.PO-settingsBar span {
  display: inline-block;
  margin: 0px;
  font-size: 18px;
}

.PO-settingsBar a {
  color: #595a5a!important;
  text-decoration: none;
  font-weight: normal;
  padding: 4px;
  display: inline-block;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.PO-settingsBar a:hover {
  background: #d6d6d6;
  border-radius: 3px;
  text-decoration: none;
}

.PO-settingsBar .PO-settingsDropdown {
  display: none;
  position: absolute;
  top: calc(100% + 4px);
  left: 0px;
  width: 200px;
  z-index: 3;
}

.PO-settingsBar .PO-settingsDropdown ul {
  background: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #cccccc;
  border-top: none;
}

.PO-settingsBar .PO-settingsDropdown .triangle {
  width: 100%;
  display: block;
  height: 10px;
}

.PO-settingsBar .PO-settingsDropdown .triangle:after {
  content: '';
  position: relative;
  display: block;
  left: 14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 10px 8px;
  border-color: transparent transparent #ffffff transparent;
  z-index: 2;
}

.PO-settingsBar .PO-settingsDropdown li {
  display: block;
}

.PO-settingsBar .PO-settingsDropdown li a {
  color: #333333!important;
  border-radius: 0px;
  display: block;
  padding: 10px;
  /*font-weight: bold;*/
  border-bottom: 1px solid #eeeeee;
}

.PO-settingsBar .PO-settingsDropdown li a em {
  margin: 0px 10px 0px 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #2E353E;
}

.PO-settingsBar .PO-settingsDropdown li a:hover {
  background: #eeeeee;
}

.PO-settingsBar .PO-settingsDropdown li a:hover em {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.PO-settingsBar .PO-settingsDropdown li:last-child a {
  border-bottom: 0px;
}

.PO-controlsTop {
  background: #eeeeee;
  border-bottom: 4px solid #e6e6e6;
  padding: 15px;
}

.PO-controlsTop .PO-title:not(:empty) {
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 15px;
}


/*- PAGING -*/

.PO-paging {
  background: #eeeeee;
  padding: 10px 10px 5px 10px;
}

.PO-paging:after {
  content: '';
  display: block;
  clear: both;
}

.PO-paging ul {
  list-style: none!important;
  margin: 0px;
  padding: 0px!important;
  float: left;
}

.PO-paging ul li {
  float: left;
}

.PO-paging ul li a, .PO-paging ul li span {
  font-weight: bold;
  font-size: 0.9em;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  text-decoration: none;
  color: #595a5a!important;
  display: block;
  padding: 10px;
  border-radius: 3px;
}

.PO-paging ul li a.active:not(span), .PO-paging ul li a:hover:not(span), .PO-paging ul li span.active:not(span), .PO-paging ul li span:hover:not(span) {
  background: #d6d6d6;
}

.PO-paging ul:after {
  content: '';
  display: block;
  clear: both;
}

.PO-paging .PO-pageCount {
  font-size: 0.8em;
  color: #595a5a;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  float: right;
}

.PO-wrapper.PO-mobile .PO-pageButton, .PO-wrapper.PO-mobile .PO-pageCount {
  float: none;
  text-align: center;
}

.PO-wrapper.PO-mobile .PO-pageButton li {
  float: none;
  display: inline-block;
}

.PO-search {
  text-align: center;
  background: #e4e4e4;
  padding: 10px;
  margin-bottom: 15px;
  font-weight: 600;
  position: relative;
  white-space:nowrap;
}

.PO-search input[type="text"] {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  width: 85%;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 0.01em;
}

.PO-search input[type="text"]:focus + .PO-searchDropdown {
  display: block;
}

.PO-search .PO-searchDropdown {
  display: none;
  position: absolute;
  top: calc(100% - 10px);
  left: 10px;
  width: calc(100% - 20px);
  z-index: 3;
}

.PO-search .PO-searchDropdown ul {
  background: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #cccccc;
  border-top: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.PO-search .PO-searchDropdown li {
  display: block;
}

.PO-search .PO-searchDropdown li a {
  color: #333333;
  border-radius: 0px;
  display: block;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid #eeeeee;
}

.PO-search .PO-searchDropdown li a > em {
  margin: 0px 10px 0px 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #2E353E;
}

.PO-search .PO-searchDropdown li a:hover {
  background: #EAEFF0;
}

.PO-search .PO-searchDropdown li a:hover em {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.PO-search .PO-searchDropdown li a span {
  font-size: 0.8em;
  color: #a7a3a3;
  float: right;
  -webkit-transform: translate(0, 0.1em);
  -ms-transform: translate(0, 0.1em);
  transform: translate(0, 0.1em)
  /*em { color: #2E353E; }*/
}

.PO-search .PO-searchDropdown li a small {
  font-size: 1em;
  color: #206E9E;
}

.PO-search .PO-searchDropdown li:last-child a {
  border-bottom: 0px;
}