/*
 * Launcher font
 */
@font-face {
    font-family: 'launcher_icons';
    src: url('/web/20210713202325im_/https://wsv3cdn.audioeye.com/fonts/launcher_icons.woff');
}
@font-face {
    font-family: 'launcher_icons';
    src: url('/web/20210713202325im_/https://wsv3cdn.audioeye.com/fonts/launcher_icons.ttf');
}

html body #ae_app #ae_launcher [class^="ae-icon-launcher"],
html body #ae_app #ae_launcher [class*=" ae-icon-launcher"],
html body #ae_app #ae_launcher [class*=" ae-icon-launcher"] [class*=" path"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'launcher_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ae-icon-launcher-logo .path1:before {
  content: "\e90d";
  color: rgb(255, 255, 255);
}
.ae-icon-launcher-logo .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.ae-icon-launcher-logo .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(0, 117, 188);
}
.ae-icon-launcher-logo .path4:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(47, 90, 91);
}
.ae-icon-launcher-logo .path5:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(254, 189, 24);
}
.ae-icon-launcher-logo .path6:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(224, 148, 25);
}
.ae-icon-launcher-logo .path7:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(247, 148, 29);
}
.ae-icon-launcher-logo .path8:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(213, 115, 26);
}
.ae-icon-launcher-logo .path9:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 185, 242);
}
.ae-icon-launcher-logo .path10:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(31, 136, 110);
}
.ae-icon-launcher-show:before {
  content: "\e90b";
}
.ae-icon-launcher-universalaccess .path1:before {
  content: "\e90c";
  color: rgb(255, 255, 255);
}
.ae-icon-launcher-universalaccess .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(22, 118, 180);
}



/*
    * Launcher Styles
*/

/* Always hide launcher if helpdesk open */
body[data-audioeye-helpdesk][data-audioeye-launcher] #ae_app #ae_launcher.ae-active,
body.ae-helpdesk.ae-launcher #ae_app #ae_launcher.ae-active {
    display: none !important;
}

#ae_app #ae_launcher.ae-active {
    display: block !important;
    height: 90px;
}

@-o-keyframes ctaInitialAnimation {
    0% {
        opacity:1;
    }
    25%{
        opacity:0;
    }
    50% {
        opacity:0;
    }
    75%{
        opacity:1;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes ctaInitialAnimation {
    0% {
        opacity:1;
    }
    25%{
        opacity:0;
    }
    50% {
        opacity:0;
    }
    75%{
        opacity:1;
    }
    100% {
        opacity:1;
    }
}
@-webkit-keyframes ctaInitialAnimation {
    0% {
        opacity:1;
    }
    25%{
        opacity:0;
    }
    50% {
        opacity:0;
    }
    75%{
        opacity:1;
    }
    100% {
        opacity:1;
    }
}
@keyframes ctaInitialAnimation {
    0% {
        opacity:1;
    }
    25%{
        opacity:0;
    }
    50% {
        opacity:0;
    }
    75%{
        opacity:1;
    }
    100% {
        opacity:1;
    }
}
@-o-keyframes ctaContinuedAnimation {
    0% {
        opacity:1;
    }
    15%{
        opacity:1;
    }
    25% {
        opacity:0;
    }
    35%{
        opacity:1;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes ctaContinuedAnimation {
   	0% {
        opacity:1;
    }
    15%{
        opacity:1;
    }
    25% {
        opacity:0;
    }
    35%{
        opacity:1;
    }
    100% {
        opacity:1;
    }
}
@-webkit-keyframes ctaContinuedAnimation {
    0% {
        opacity:1;
    }
    15%{
        opacity:1;
    }
    25% {
        opacity:0;
    }
    35% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}
@keyframes ctaContinuedAnimation {
    0% {
        opacity:1;
    }
    15%{
        opacity:1;
    }
    25% {
        opacity:0;
    }
    35%{
        opacity:1;
    }
    100% {
        opacity:1;
    }
}
@-o-keyframes ctaDecreaseSizeAnimation {
    0% {
        -o-transform-origin: center center;
        -o-transform: scale(1);
    }
    100% {
        -o-transform-origin: center center;
        -o-transform: scale(.8);
    }
}
@-moz-keyframes ctaDecreaseSizeAnimation {
    0% {
        -moz-transform-origin: center center;
        -moz-transform: scale(1);
    }
    100% {
        -moz-transform-origin: center center;
        -moz-transform: scale(.8);
    }
}
@-webkit-keyframes ctaDecreaseSizeAnimation {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(.8);
    }
}
@keyframes ctaDecreaseSizeAnimation {
    0% {
        transform-origin: center center;
        transform: scale(1);
    }
    100% {
        transform-origin: center center;
        transform: scale(.8);
    }
}

#ae_app #ae_launcher {
    cursor:pointer;
    display: none;
    margin:0px;
    position: fixed;
    text-align:center;
    z-index: 20000;
}

/* Preset Positions */
#ae_app #ae_launcher.ae-cta-position-preset-right-lower {
    bottom: 75px;
    right: 0;
}
#ae_app #ae_launcher.ae-cta-position-preset-right-lower.ae-launcher-hover {
    bottom: 93px;
}

#ae_app #ae_launcher.ae-cta-position-preset-right-mid-lower {
    bottom: 150px;
    right: 0;
}
#ae_app #ae_launcher.ae-cta-position-preset-right-mid-lower.ae-launcher-hover {
    bottom: 168px;
}

#ae_app #ae_launcher.ae-cta-position-preset-right-middle {
    bottom: calc(50vh - 56px);
    right: 0;
}
/* difference between hover state is 18px */
#ae_app #ae_launcher.ae-cta-position-preset-right-middle.ae-launcher-hover {
    bottom: calc(50vh - 38px);
}

#ae_app #ae_launcher.ae-cta-position-preset-right-mid-upper {
    top: 150px;
    right: 0;
}
#ae_app #ae_launcher.ae-cta-position-preset-right-mid-upper.ae-launcher-hover {
    top: 132px;
}

#ae_app #ae_launcher.ae-cta-position-preset-right-upper {
    top: 75px;
    right: 0;
}
#ae_app #ae_launcher.ae-cta-position-preset-right-upper.ae-launcher-hover {
    top: 57px;
}

/* launcher left-lower preset styles */
#ae_app #ae_launcher.ae-cta-position-preset-left-lower {
    bottom: 75px;
    left: 0;
}
#ae_app #ae_launcher.ae-cta-position-preset-left-lower.ae-launcher-hover {
    bottom: 93px;
}
#ae_app #ae_launcher.ae-cta-position-preset-left-lower .ae-right {
  right: auto;
  left: 8px;
}
#ae_app #ae_launcher.ae-cta-position-preset-left-lower.ae-launcher-hover .ae-left,
#ae_app #ae_launcher.ae-cta-position-preset-left-lower.ae-launcher-hover .ae-left-wider {
    border-right: none;
    border-left: 1px solid #777F88;
    color: #fff;
    margin: 0 0 0 60px;
}
#ae_launcher.ae-cta-position-preset-left-lower.ae-launcher-hover .ae-right .ae-icon-launcher-show {
  margin-left: 2px;
  transform: rotate(180deg);
}
/* end preset position styles */



#ae_launcher *, #ae_launcher *:before, #ae_launcher *:after{
    box-sizing: content-box !important;
}

.ae-launcher-hover{
    background-color: #1f2934 !important;
    -webkit-border-radius:0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#ae_launcher .ae-hoverhidden:before{display: none !important;}
#ae_launcher .ae-hidden{display: none !important;}
#ae_launcher .ae-clearit{clear:both;}
#ae_launcher .icomoon-cta{
    line-height: 1 !important;
    left: 0px;
}
#ae_launcher [role="button"]{
	border: 0 none;
	border-radius: inherit;
	box-shadow: none;
	font-size: inherit;
	padding: initial;
}
#ae_launcher .icomoon-cta:not(.icon-ctrl):not(.ae-initial-cta):not(.path1):not(.path2):not(.path3):not(.path4):not(.path5):not(.path6):not(.path7):not(.path8):not(.path9):not(.path10){
    border: 0 none !important;
    font-size:44px;
    color:#395670;
    display:inline-block;
    height:44px;
    margin: 0px 4px 0px 0px;
    width:44px;
    padding:0;
    box-shadow:none !important;
    vertical-align: middle;
}
#ae_launcher .icomoon-cta:not(.ae-initial-cta):not(.path1):not(.path2):not(.path3):not(.path4):not(.path5):not(.path6):not(.path7):not(.path8):not(.path9):not(.path10):before{color:inherit;}
.ae-hoverhidden{box-shadow:none !important;}
.ae-hoverhidden:active {
    background:none !important;
    border:0 none !important;
    box-shadow:none !important;
}

#ae_launcher .ae-icon-launcher-show {
    display: none;
}

#ae_launcher.ae-launcher-hover .ae-icon-launcher-show {
    display: block;
    margin-top: 2px;
    font-size:16px;
}

#ae_launcher .icomoon-wrapper{
    color:#395670;
    display: block;
    margin: 10px 0 0 0;
    width: 44px;
    height:44px;
    vertical-align: top;
}
#ae_launcher .icomoon-wrapper div{
    position: relative;
    width: 44px;
    height: 44px;
}
#ae_launcher .icon-ctrl{
    color: #395670;
    left: 5px;
    margin: 17px 0px 0px 0px;
    position: absolute;
    top: 0px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.ae-hover{
	background-color:#C9D0D4;
	border-radius: 50%;
	font-size : 10px;
	line-height: 12px; /*set line height back to normal*/
	letter-spacing : -0.15px;
	color : #395670;
	width:44px;
	display:inline-block;
	height:44px;
	text-align: center;
	white-space:normal;
}
.ae-hover > span {
    display: table-cell;
	vertical-align: middle;
	text-align: center;
	height:44px;
	width:44px;
	padding: 0px 2px;
}
#ae_app .ae-initial-cta {
    border: 0 none !important;
    box-shadow:none !important;
    position: absolute;
    padding:0;
    top:0px;
    left:0px;
    margin: 0 !important;
    font-size:44px;
    height:44px;
    width: 44px;
}
#ae_app .ae-initial-cta span {
    font-size: 44px;
}

#ae_app .icomoon-wrapper:not(.icomoon-wrapper-hover) .ae-icon-launcher-universalaccess{
    -webkit-animation-name: ctaInitialAnimation, ctaContinuedAnimation;
    -webkit-animation-delay: 2s, 5s;
    -webkit-animation-duration: 3s, 60s;
    -webkit-animation-fill-mode: forwards, forwards;
    -webkit-animation-iteration-count: 1, infinite;
    -moz-animation-name: ctaInitialAnimation, ctaContinuedAnimation;
    -moz-animation-delay: 2s, 5s;
    -moz-animation-duration: 3s, 60s;
    -moz-animation-fill-mode: forwards, forwards;
    -moz-animation-iteration-count: 1, infinite;
    -o-animation-name: ctaInitialAnimation, ctaContinuedAnimation;
    -o-animation-delay: 2s, 5s;
    -o-animation-duration: 3s, 60s;
    -o-animation-fill-mode: forwards, forwards;
    -o-animation-iteration-count: 1,infinite;
    animation-name: ctaInitialAnimation, ctaContinuedAnimation;
    animation-delay: 2s, 5s;
    animation-duration: 3s, 60s;
    animation-fill-mode: forwards, forwards;
    animation-iteration-count: 1, infinite;
}

#ae_launcher .ae-left, #ae_launcher .ae-right {
    position: relative;
    vertical-align: top;
}

#ae_launcher .ae-right {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 44px;
    word-wrap: normal !important;
}

#ae_launcher .ae-left, #ae_launcher .ae-left-wider {
    display: none;
}

#ae_launcher.ae-launcher-hover .ae-left, #ae_launcher.ae-launcher-hover .ae-left-wider {
    align-items: center;
    border-right: 1px solid #777F88;
    box-sizing: border-box !important;
    color: #fff;
    display: flex;
    height: 90px;
    padding: 15px 15px 20px 15px;
    margin-right: 60px;
    font-size:14px;
    line-height: 20px;
    text-align: left;
    width: 110px;
    letter-spacing: normal;
}
[data-audioeye-lang="sv-se"] #ae_launcher.ae-launcher-hover .ae-left,
[data-audioeye-lang="sv-se"] #ae_launcher.ae-launcher-hover .ae-left-wider,
.ae-lang-sv-se #ae_launcher.ae-launcher-hover .ae-left,
.ae-lang-sv-se #ae_launcher.ae-launcher-hover .ae-left-wider {
    width: auto;
    min-width: 110px;
    max-width: 180px;
}

#ae_launcher.ae-launcher-hover .ae-left-wider {
    width:130px !important;
}

/* Low-height (maybe mobile landscape) */
@media (max-height: 500px) {
  /* Preset Positions */
  #ae_app #ae_launcher.ae-cta-position-preset-right-lower {
      bottom: 18px;
  }
  #ae_app #ae_launcher.ae-cta-position-preset-right-lower.ae-launcher-hover {
      bottom: 36px;
  }

  #ae_app #ae_launcher.ae-cta-position-preset-right-mid-lower {
      bottom: 60px;
      right: 0;
  }
  #ae_app #ae_launcher.ae-cta-position-preset-right-mid-lower.ae-launcher-hover {
      bottom: 78px;
  }
  #ae_app #ae_launcher.ae-cta-position-preset-right-mid-upper {
      top: 60px;
      right: 0;
  }
  #ae_app #ae_launcher.ae-cta-position-preset-right-mid-upper.ae-launcher-hover {
      top: 42px;
  }

  #ae_app #ae_launcher.ae-cta-position-preset-right-upper {
      top: 18px;
      right: 0;
  }
  #ae_app #ae_launcher.ae-cta-position-preset-right-upper.ae-launcher-hover {
      top: 0px;
  }

  /* launcher left-lower preset styles */
  #ae_app #ae_launcher.ae-cta-position-preset-left-lower {
      bottom: 18px;
      left: 0;
  }
  #ae_app #ae_launcher.ae-cta-position-preset-left-lower.ae-launcher-hover {
      bottom: 36px;
  }
  /* end preset position styles */
}

/*
     FILE ARCHIVED ON 20:23:25 Jul 13, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:23:51 Aug 18, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.018
  exclusion.robots.policy: 0.263
  PetaboxLoader3.resolve: 107.175 (2)
  CDXLines.iter: 22.709 (3)
  exclusion.robots: 0.279
  cdx.remote: 0.135
  PetaboxLoader3.datanode: 89.301 (5)
  captures_list: 155.44
  LoadShardBlock: 116.984 (3)
  load_resource: 161.55 (2)
*/