div#ss_basic_div                         { width:100%; }
div#ss_details_div                       { width:100%; display:none; }
div#ss_basic_table, div#ss_details_table { width:100%; }
table#ss_details_table td                { padding:2px; }
table#ss_details_table td.data           { text-align:right; }
label									 { display : inline !important; }
.hasTooltip								 { display: inline !important; }