.ui-slideouttab-left {
	left: 0px;
	transform: translateX(-100%);
	border-left: none;
}
.ui-slideouttab-left.ui-slideouttab-open {
	transform: translateX(0%);
}
.ui-slideouttab-left .ui-slideouttab-handle {
    transform-origin: 100% 0%;
    transform: rotate(-90deg);   
}
.ui-slideouttab-left .ui-slideouttab-handle-reverse {
    transform-origin: 100% 100%;
    transform: rotate(-90deg) translate(100%,100%);   
}
#sidepanel_jt315.ui-slideouttab-ready .handle315.imagebg.ui-slideouttab-handle {width:34px;height:158px; transform:none;right:-32px !important; }