#popSelectCal
{
    display: none;
    width: 550px;
    background: #FFFFFF;
    border: 2px solid #cecece;
    z-index: 1000;
    font-size: 13px;
    position: absolute;
    top: 10%;
    left: 50%;
	color:black;
}
#backgroundPopup
{
    display: none;
    background-color: Black;
    opacity: 0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 100;
}
#loadingCircle
{
    display: none;
    border: 2px solid #cecece;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
}
#loadingCircleBackground
{
    display: none;
    background-color: Black;
    opacity: 0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 100;
}
.ui-resizable{background:#fff; padding:20px; }